:root {
  --white-color: #ffff;
  --black-color: #000;
  --yellow-color: #ffc93d;
  --yellow-hover-color: #ebba3b;
  --grey-color: #999999;
  --red-color: #ff2c2b;
  --blue-color: #0054b9;
}
